name: Package app for Windows

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install Dependencies
        run: npm install

      - name: Package Application
        run: npm run compile-win

      - name: Archive Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: copilot-windows
          path: copilot-win32-x64/

      - name: Create ZIP file
        run: |
          Compress-Archive -Path copilot-win32-x64 -DestinationPath copilot-win32-x64.zip
        shell: pwsh

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v0.1.7
          name: Release v0.1.7
          draft: false
          prerelease: false
          files: ./copilot-win32-x64.zip
